* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 80%;
    height: 400px;
    display: flex;
}

.carousel-left {
    width: 85%;
    height: 100%;
    position: relative;
}

.carousel-left .container-img-left {
    width: 100%;
    height: 100%;
}

.carousel-left .container-img-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-left .container-text {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

.carousel-left .container-text h2 {
    color: #D2D6E9;
}

.carousel-right {
    width: 15%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.carousel-right .container-img-right {
    width: 100%;
    height: 20%;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.carousel-right .container-img-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(0.2);
}

.carousel-right .container-img-right img.active {
    filter: none;
    border: 4px solid white;
}

.carousel-right .prev {
    position: absolute;
    top: 10px;
    left: 50%;transform: translateX(-50%);
    background-color: lightgrey;
    padding: 0.3em;
    border-radius: 50%;
}

.carousel-right .next {
    position: absolute;
    bottom: 10px;
    left: 50%;transform: translateX(-50%);
    background-color: lightgrey;
    padding: 0.3em;
    border-radius: 50%;
}