* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 70%;
    display: flex;
}

.slider .col-left {
    width: 85%;
    height: 100%;
}

.slider .col-left .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.slider .col-left .img-container.active {
    display: block;
}

.slider .col-left .img-container img {
    width: 100%;
    height: 100%;
}

.slider .col-left .text-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    text-align: right;
}

.slider .col-right {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.col-right .thumb-container {
    width: 100%;
    height: calc(100% / 5);
    position: relative;
}

.col-right .thumb-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.col-right .thumb-container.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: transparent;
    border: 2px solid white;
}

.col-right .thumb-container img {
    width: 100%;
    height: 100%;
}

.col-right .prev,
.col-right .next {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 0.1em;
    z-index: 2;
    font-size: 1.5em;
    background-color: lightgrey;
    border-radius: 50%;
}

.col-right .prev:hover,
.col-right .next:hover {
    background-color: white;
}

.col-right .prev {
    top: 10px;
}

.col-right .next {
    bottom: 10px;
}